<nav class="navbar">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="navbar-content">
            Productos
        </div>
    </div>
</nav>
<div class="container">
    <div [@fadeAnimation]="showForm ? 'hidden': 'visible'" class="content">
        <p class="public-text">Bienvenido a Product Prowess</p>
        <p class="text-blue">Aquí puedes</p>
        <p class="text-price">publicar tus productos tecnológicos.</p>
        <button>Ingresar</button>
        <button (click)="showFormRegister()">Registrarse</button>
    </div>
    <div class="imageHome">
        <img src="assets/image/homepage.png" alt="homepage">
    </div>
    <div *ngIf="showForm" class="register-form">
        <app-register></app-register>
    </div>
    <router-outlet></router-outlet>
</div>
