<div class="container" *ngIf="showModal">
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="form-Registercontainer">
                        <div class="form-header">
                            <h2 class="form-title">Formulario de registro</h2>
                        </div>
                        <div *ngIf="showAvatarSelection">
                            <app-avatars (avatarSelected)="onAvatarSelected($event)"></app-avatars>
                        </div>
                        <div class="text-center my-3">
                            <p-avatar *ngIf="avatar" [image]="avatar" styleClass="mr-2" size="xlarge" shape="circle">
                            </p-avatar>
                            <p-avatar *ngIf="!avatar" icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle">
                            </p-avatar>
                            <i class="pi pi-user-edit user-icon" (click)="toggleAvatarSelection()"></i>
                            <input type="hidden" name="avatar" [(ngModel)]="avatar">
                        </div>
                        <form (ngSubmit)="registerUser()">
                            <div class="mb-3">
                                <label>Nombre Completo</label>
                                <input type="text" name="username" class="form-control" placeholder="Ingrese su nombre"
                                    [(ngModel)]="username">
                            </div>
                            <div class="mb-3">
                                <label>Correo</label>
                                <input type="email" name="email" class="form-control" placeholder="correo@micorreo.com"
                                    [(ngModel)]="email">
                            </div>
                            <div class="mb-3">
                                <label>Contraseña</label>
                                <input type="password" name="password" class="form-control"
                                    placeholder="Ingrese su contraseña" [(ngModel)]="password">
                            </div>
                            <div class="mb-3">
                                <label>Biografía</label>
                                <textarea  pInputTextarea [autoResize]="true" name="bio" class="form-control custom-textarea" placeholder="Ingresa tu biografía" [(ngModel)]="bio"></textarea>
                            </div>
                            <button type="submit" pButton pRipple [disabled]="!isFormValid">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="bottom-right"></p-toast>