<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler position-relative" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-secondary d-flex flex-column justify-content-between" [ngClass]="{'collapsed': isMenuOpen}">
      <div>
        <div class="avatar-container mt-3">
          <p-avatar *ngIf="userAvatar; else defaultAvatar" [image]="userAvatar" styleClass="mr-2" size="xlarge"
            shape="circle">
          </p-avatar>
          <ng-template #defaultAvatar>
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
          </ng-template>
          <div *ngIf="userName" class="mt-2" style="clear: both;">{{ userName }}</div>
        </div>
      </div>
      <div class="logout-icon mb-3">
        <button class="logout-button" (click)="logout()">
          <i class="pi pi-sign-out"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="centered-box-container">
  <div class="centered-box bg-light p-3 rounded">
    <p-carousel [circular]="true" [numVisible]="3" [numScroll]="3" autoplayInterval="3000">
    </p-carousel>
  </div>
</div>

